<h1>Your orders</h1>
{{#if orders.length}}
  <div class="order__card_container">
    {{#each orders}}
    <div class="order__card">
      <h3>Order number: <span class="number__price">{{this._id}}</span></h3>
      <p>Date: {{#getDateAndTime this.createdAt}}{{/getDateAndTime}}</p>
      <table class="order__table">
        <tbody>
          <tr class="order_table_header">
            <th>Name</th> 
            <th>Quantity</th> 
            <th>Price</th>  
          </tr>
          {{#each this.orderData}} 
          <tr class="order_table_row">
            <td>{{title}}</td>
            <td>{{quantity}}</td>
            <td>{{price}}$</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <p>Delivery address: {{this.address}}</p>
      <div class="order-footer">
        <b>Total order price: <span class="number__price">{{this.totalPrice}}$</span></b>
        <a href="/orders/{{_id}}" target="_blank">Download invoice</a>
      </div>
    </div>
    {{/each}}
  </div>
{{else}}
<h2>No orders yet...</h2>
{{/if}}